:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-weight: 500;

}

p {
  margin: 0;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

.card svg.material-icons path {
  fill: #888;
}

a,
a:visited,
a:hover {
  color: #000;
  text-decoration: none;
}

input {
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 4px;
  margin-top: 5px;

}

input:focus-visible {
  border: 2px solid transparent;
  outline: 2px solid #00c8eb;
}

button:hover:enabled,
a:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}


button, 
a {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: #00c8eb;
  padding: 10px 14px;
  width: fit-content;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button:disabled {
  background-color: #d9dddc;
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}

.transparent {
  background-color: transparent;
}

.img--small {
  height: 15px;
}

.img--medium {
  height: 24px;
}

.img--large {
  height: 35px;
}